* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  line-height: 1.5;
  text-decoration: none;
}
html {
  background-color: rgb(33, 37, 41);
}

*/ html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;

  top: 0;
  left: 0;
}

@font-face {
  font-family: "TeslaFont";
  src: url("tesla.ttf") format("truetype");
}

.logo h1 {
  font-family: "TeslaFont";
  font-size: 33px;
  padding-top: 50px;
  margin-left: 15px;
}

header li {
  font-size: 1rem bold;
  margin: 5px;
}

header li :hover {
  font-size: 15px;
  opacity: 0.5;
  transition: all 1s ease-out;
}

/*Container*/
.container {
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.container-body {
  margin: 1px;
  padding: 1px;
}

/*scrollbar ayarları*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  background-color: whitesmoke;
  overflow-x: hidden !important;
}

h1 {
  font-size: 1.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-bottom: 1px solid black;
  display: inline;
  padding: 1rem;
}
